@import './variables.scss';

@import './variables.scss';

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;

    .about-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
        position: relative;
        overflow: hidden;
        border-radius: 0 10rem 0 0;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .about-photo {
            flex: 1;
            max-width: 40%;
            margin-right: 2rem;

            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }

        .about-description {
            flex: 2;

            h1 {
                font-size: 2rem;
                margin-bottom: 1rem;
                color: #333;
            }

            p {
                font-size: 1rem;
                line-height: 1.6;
                margin-bottom: 1rem;
            }
        }
    }

    // Media queries for responsiveness
    @media (max-width: 1024px) {
        .about-container {
            padding: 1.5rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 0; // Remove large border-radius for smaller screens

            .about-photo {
                max-width: 60%; // Increase the width of the photo in tablet view
                margin-right: 0;
                margin-bottom: 1.5rem;
            }

            .about-description {
                text-align: center;
            }
        }
    }

    @media (max-width: 768px) {
        .about-container {
            margin: 1rem 0 0 10px;
            padding: 1rem;
            flex-direction: column;
            border-radius: 0;

            .about-photo {
                max-width: 80%; // Further increase the photo width in mobile view
            }

            .about-description {
                h1 {
                    font-size: 1.75rem;
                }

                p {
                    font-size: 0.9rem;
                }
            }
        }
    }

    @media (max-width: 480px) {
        .about-container {
            padding: 1rem;

            .about-photo {
                max-width: 90%; // Max width for smaller devices
            }

            .about-description {
                h1 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 0.85rem;
                }
            }
        }
    }
}