@import './variables.scss';

.frame {
    margin: 2rem 3rem 2rem 4rem;
    padding: 2rem;
}

.filter {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.filter-button {
    padding: 0.75rem 1.5rem;
    margin: 1rem 0;
    font-size: 1rem;
    border: none;
    background-color: $button;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &.active {
        background-color: $sangriaRed;
        color: #fff;
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .photo {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    flex: 1 1 calc(16.66% - 1rem); /* 6 items per row on larger screens */
    max-width: calc(16.66% - 1rem);
  }
  
  .photo img {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
  }
  
  .photo:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .photo:hover img {
    opacity: 0.8;
  }
  
  .photo:hover::after {
    content: 'View Photo';
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    transition: opacity 0.3s ease;
  }
  
  .photo:hover::after {
    opacity: 1;
  }

  @media (max-width: 1200px) {
    .photo {
      flex: 1 1 calc(20% - 1rem); /* 5 items per row on medium screens */
      max-width: calc(20% - 1rem);
    }
  }
  
  @media (max-width: 992px) {
    .photo {
      flex: 1 1 calc(25% - 1rem); /* 4 items per row on small screens */
      max-width: calc(25% - 1rem);
    }
  }
  
  @media (max-width: 768px) {
    .photo {
      flex: 1 1 calc(33.33% - 1rem); /* 3 items per row on extra small screens */
      max-width: calc(33.33% - 1rem);
    }
  }
  
  @media (max-width: 576px) {
    .photo {
      flex: 1 1 calc(50% - 1rem); /* 2 items per row on very small screens */
      max-width: calc(50% - 1rem);
    }
  }
  